<div class="component-accordion-main-d92 accordion-item overflow-hidden bg-color-white bg-color-opacity-20">
	<h2 class="accordion-header" id="heading-8372-{{id:}}">
		<button class="accordion-button ff-jost {{expanded:collapsed:i|![expanded]}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-w29u-{{id:}}" aria-expanded="{{expanded:true:i|[expanded]}}" aria-controls="collapse-w29u-{{id:}}">{{title}}</button>
	</h2>
	<div id="collapse-w29u-{{id:}}" class="accordion-collapse collapse {{expanded:show:i|[expanded]}}" aria-labelledby="heading-8372-{{id:}}" data-bs-parent="#{{parent-id:accordion-parent-2ej}}">
		<div class="accordion-body">
			<pre class="ff-jost tw-appearance-none">{{description:}}{{description:<br/>:i|[description]}}</pre>
		</div>
	</div>
</div>
<style type="text/css">
	[data-parent-rounded] .component-accordion-main-d92:first-child{
		border-top-left-radius: 20px; border-top-right-radius: 20px;
	}
	[data-parent-rounded] .component-accordion-main-d92:last-child{
		border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
	}
	.component-accordion-main-d92{
		border: none !important;
/*		background-color: red;*/
	}
</style>

			<!-- <p>To change your billing information, please follow these steps:</p>
			<ul>
				<li>Go to our website and sign in to your account.</li>
				<li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
				<li>Under the "Billing Information" section, click on "Edit."</li>
				<li>Make your changes and click on "Save."</li>
			</ul> -->