<section data-component-title-proxim-hover-active="1">
	<div class="container-md tw-px-3 md:tw-px-3 tw-mb-9">
		<br c-file="components/titles/proxim.htm" datas='{"title" : "{{title:Vos valises, selon le type que vous cherchez}}"}' data-scroll="body-2he" data-scroll-percent="58"/>
	</div>
	<div class="container-lg">
		<div class="tw-flex tw-flex-wrap" data-parent-card-two>
			<div class="tw-w-full sm:tw-w-1/2 tw-p-3">
				<div c-file="components/cards/cat_two.htm" data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique->
					<div id="datas">
						{
							"title" : "Valises rigides",
							"image" : "/assets/img/30/sun-lingyan-q-4fbq8pUO4-unsplash.jpg",
							"description" : "Les valises rigides sont solides, faites de plastique ou de métal. Elles sont résistantes et protègent vos affaires en cas d'impact.",
							"button_title" : "Voir plus",
							"resp" : "md:tw-flex tw-items-start md:tw-space-x-7 tw-space-y-5 md:tw-space-y-0",
							"resp1" : "tw-w-1/2 sm:tw-w-1/3",
							"link" : "/pages/catalog.html"
						}
					</div>
					<div c-slot="button">
					</div>
				</div>
			</div>
			<div class="tw-w-full sm:tw-w-1/2 tw-p-3">
				<div c-file="components/cards/cat_two.htm" data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- data-scroll-time="200">
					<div id="datas">
						{
							"title" : "Valises souples",
							"image" : "/assets/img/30/jed-owen-PpzBE1hWeGI-unsplash.jpg",
							"description" : "Les valises souples sont fabriquées à partir de matériaux souples, tels que le nylon ou le polyester. Elles sont plus légères et plus maniables que les valises rigides.",
							"button_title" : "Voir plus",
							"resp" : "md:tw-flex tw-items-start md:tw-space-x-7 tw-space-y-5 md:tw-space-y-0",
							"resp1" : "tw-w-1/2 sm:tw-w-1/3",
							"link" : "/pages/catalog.html"
						}
					</div>
					<div c-slot="button">
					</div>
				</div>
			</div>
			<div class="tw-w-full sm:tw-w-1/2 tw-p-3">
				<div c-file="components/cards/cat_two.htm" data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- data-scroll-time="200">
					<div id="datas">
						{
							"title" : "Valises à roulettes",
							"image" : "/assets/img/30/pexels-andrew-neel-13145853.jpg",
							"description" : "Les valises à roulettes sont équipées de roulettes qui permettent de les transporter facilement. Elles sont disponibles en version rigide et souple.",
							"button_title" : "Voir plus",
							"resp" : "md:tw-flex tw-items-start md:tw-space-x-7 tw-space-y-5 md:tw-space-y-0",
							"resp1" : "tw-w-1/2 sm:tw-w-1/3",
							"link" : "/pages/catalog.html"
						}
					</div>
					<div c-slot="button">
					</div>
				</div>
			</div>
			<div class="tw-w-full sm:tw-w-1/2 tw-p-3">
				<div c-file="components/cards/cat_two.htm" data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique->
					<div id="datas">
						{
							"title" : "Valises cabine",
							"image" : "/assets/img/30/american-green-travel-XBbZ5Wn1CnE-unsplash.jpg",
							"description" : "Les valises cabine sont suffisamment petites pour être emportées à bord de l'avion en tant que bagage à main. Elles sont idéales pour les voyages courts ou pour les personnes qui ne veulent pas s'enregistrer de bagages.",
							"button_title" : "Voir plus",
							"resp" : "md:tw-flex tw-items-start md:tw-space-x-7 tw-space-y-5 md:tw-space-y-0",
							"resp1" : "tw-w-1/2 sm:tw-w-1/3",
							"link" : "/pages/catalog.html"
						}
					</div>
					<div c-slot="button">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>