<section data-component-title-proxim-hover-active="1">
	<div class="container-md tw-px-3 md:tw-px-3 tw-mb-9">
		<br c-file="components/titles/proxim.htm" datas='{"title" : "Vos valises, selon le type que vous cherchez"}' data-scroll="body-2he" data-scroll-percent="58"/>
	</div>
	<div class="container-md">
		<div class="tw-flex tw-flex-wrap" data-parent-card-category>
			<div class="tw-w-full sm:tw-w-1/2 tw-p-3">
				<br  data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- class="tw-h-full" c-file="components/cards/category-g.html" datas='{
					"image" : "/assets/img/30/sun-lingyan-q-4fbq8pUO4-unsplash.jpg",
					"title" : "Valises rigides",
					"description" : "Les valises rigides sont solides, faites de plastique ou de métal. Elles sont résistantes et protègent vos affaires en cas d&apos;impact.",
					"button_title" : "Voir plus"
				}'/>
			</div>
			<div class="sm:tw-w-1/2 tw-p-3">
				<br  data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- data-scroll-time="200" class="tw-h-full" c-file="components/cards/category-g.html" datas='{
					"image" : "/assets/img/30/jed-owen-PpzBE1hWeGI-unsplash.jpg",
					"title" : "Valises souples",
					"description" : "Les valises souples sont fabriquées à partir de matériaux souples, tels que le nylon ou le polyester. Elles sont plus légères et plus maniables que les valises rigides.",
					"button_title" : "Voir plus"
				}'/>
			</div>
			<div class="sm:tw-w-1/2 tw-p-3">
				<br  data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- class="tw-h-full" c-file="components/cards/category-g.html" datas='{
					"image" : "/assets/img/30/pexels-andrew-neel-13145853.jpg",
					"title" : "Valises à roulettes",
					"description" : "Les valises à roulettes sont équipées de roulettes qui permettent de les transporter facilement. Elles sont disponibles en version rigide et souple.",
					"button_title" : "Voir plus"
				}'/>
			</div>
			<div class="sm:tw-w-1/2 tw-p-3">
				<br  data-scroll="body-2he" data-scroll-percent="70" data-scroll-unique- data-scroll-time="200" class="tw-h-full" c-file="components/cards/category-g.html" datas='{
					"image" : "/assets/img/30/american-green-travel-XBbZ5Wn1CnE-unsplash.jpg",
					"title" : "Valises cabine",
					"description" : "Les valises cabine sont suffisamment petites pour être emportées à bord de l&apos;avion en tant que bagage à main. Elles sont idéales pour les voyages courts ou pour les personnes qui ne veulent pas s&apos;enregistrer de bagages.",
					"button_title" : "Voir plus"
				}'/>
			</div>
		</div>
	</div>
</section>