<div class="component-nav-g-92e">
	<div class="tw-flex tw-items-center tw-justify-between tw-space-x-3 color-black">
		<a href="/pages/home.html" class="tw-flex tw-items-center tw-justify-center tw-space-x-1 suitcase-color-dark-30">
			<br class="tw-w-12 tw-h-12" c-file="assets/icons/physics.svg"/>
			<div class="tw-text-2xl ff-jost-semibold">Suitcase</div>
		</a>
		<div class="list-menu-e2hh tw-hidden md:tw-flex md:tw-space-x-7 lg:tw-space-x-12 xl:tw-space-x-16 suitcase-color-dark-30">
			<a data-active="{{active:1:i|![active] || [active] == 'Accueil'}}" class="ff-jost-medium tw-relative zi-1" href="/pages/home.html">Accueil</a>
			<a data-active="{{active:1:i|[active] == 'Catalogue'}}" class="ff-jost-medium tw-relative zi-1" href="/pages/catalogue.html">Catalogue</a>
			<a data-active="{{active:1:i|[active] == 'Contact'}}" class="ff-jost-medium tw-relative zi-1" href="/pages/contact.html">Contact</a>
			<a data-active="{{active:1:i|[active] == 'A propos'}}" class="ff-jost-medium tw-relative zi-1" href="/pages/apropo.html">À propos</a>
		</div>
		<div class="tw-flex tw-items-center tw-space-x-3">
			<div class="tw-hidden md:tw-block" c-file="components/inputs/search-menu.html" datas='{"value" : "{{search-value:}}"}'></div>
			<div class="tw-relative tw-flex">
				<a class="tw-flex tw-justify-center tw-items-center" href="/pages/cart.html">
					<br class="tw-w-6 tw-h-6" c-file="assets/icons/shopping-cart-0.svg"/>
				</a>
				<div data-value="{{badge:}}" class="badge-e928 ff-jost-medium tw-text-xs tw-px-2 tw-py-1 tw-bg-red-400 rounded-full tw-flex tw-justify-center tw-items-center tw-rounded-full tw-absolute -tw-bottom-1/2 -tw-right-1/2">{{badge:}}</div>
			</div>
			<br class="md:tw-hidden tw-w-6 tw-h-6 tw-cursor-pointer" onclick="layout_main_toggle_menu()" c-file="assets/icons/menu.svg"/>
			@[--more--]
		</div>
	</div>
</div>
<style type="text/css">
	.component-nav-g-92e{}
	.component-nav-g-92e .badge-e928[data-value=""],
	.component-nav-g-92e .badge-e928[data-value="0"]{
		display: none;
	}
	.component-nav-g-92e .list-menu-e2hh{}
	.component-nav-g-92e .list-menu-e2hh a{}
	.component-nav-g-92e .list-menu-e2hh a[data-active=""],
	.component-nav-g-92e .list-menu-e2hh a[data-active="0"]{opacity: .5;filter: brightness(0);}
	.component-nav-g-92e .list-menu-e2hh a[data-active="1"],
	.component-nav-g-92e .list-menu-e2hh a:hover{opacity: 1;}
	.component-nav-g-92e .list-menu-e2hh a::after{
		content: "";
		position: absolute; bottom: -3px; left: 0; right: 0;
		margin-left: auto; margin-right: auto;
		height: 3px; width: 0%;
		background-color: currentColor;
		border-radius: 3px;
		transition: all .2s;
	}
	.component-nav-g-92e .list-menu-e2hh a:hover::after,
	.component-nav-g-92e .list-menu-e2hh a[data-active="1"]::after{
		width: 100%;
	}
</style>
<script type="text/javascript">
	function addBadge(call, el){
		let bdg = document.querySelector('.badge-e928');
		let val = parseInt(bdg.getAttribute('data-value') == '' ? 0 : bdg.getAttribute('data-value')); 
		if(typeof el === "object"){
			let bb;
			if(el.getAttribute('data-on-bag') == '1'){ val--; bb = '0'; }
			else{ bb = '1'; val++; }
			el.setAttribute('data-on-bag', bb)
			// if(min && val > 0) val--;
			// else val++;
			bdg.setAttribute('data-value', val);
			bdg.innerHTML = val;
			if(call) call(el, val, bb);
		}
	}
</script>