<div class="col-10  order-md-last offset-1 border border-3 py-3 px-3 rounded-3 bg-ligth">
 
    <div class="offcanvas-header py-3   d-flex justify-content-between align-items-center mb-3">
      <h5 class="offcanvas-title text-center" id="offcanvasNavbarLightLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onclick="layout_main_toggle_menu()" >x</button>
    </div>
    <div class=" px-3 d-flex justify-content-between align-items-center mb-3 mt-3">
      <h5 class="offcanvas-title text-center fs-2" id="offcanvasNavbarLightLabel">Menu</h5>
      <a class="nav-link rounded-circle bg-ligth overflow-hidden  "href="#" style=""><img src="assets/img/icons8_shopping_cart.svg" alt="" width="30px"></a>
    </div>
    
    <ul class="fw-bold  navbar-nav justify-content-end flex-grow-1 pe-3 rounded-3 border border-3 px-3 py-3">
      <li class="nav-item py-2 px-2 col-2">
       
      </li>
      <li class="nav-item py-2 px-2">
        <a class="nav-link active " aria-current="page" href="#">Home</a>
      </li>
      
      <li class="nav-item py-2 px-2">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item py-2 px-2">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item py-2 px-2">
        <a class="nav-link" href="#">Theme mystere</a>
      </li>
      <li class="nav-item py-2 px-2">
        <a class="nav-link" href="#">Faq</a>
      </li> 
    </ul>
  
    <form class="card p-2">
      <div class="input-group">
        <input type="search" class="form-control " placeholder="search">
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </form>
  </div>