<div class="navbar navbar-expand-md navbar-light bg-light " id="principalDiv">
    <div class="container-fluid">
        <a class="navbar-brand tw-flex tw-space-x-2" href="#">
            <img src="/png.icons8.com/bag/Doodle/1" alt="">
            <span class="tw-flex tw-space-x-2" style="font-size: 1.8em; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blue;">
                <img class="tw-w-8 tw-h-8" src="/bag_40px.png" alt="">
                <h1 class="tw-text-2xl">Suitcase</h1>
            </span>
        </a>
        <button onclick="alert('salut');" class="navbar-toggler  pull-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="col-lg-1"></div>
        
        </button>
        <div class="col-lg-1"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a></li>

                <li class="nav-item active"><a class="nav-link" href="#">A propos</a></li>
            
                <li class="nav-item active"><a class="nav-link" href="#">Services</a></li>
            
                <li class="nav-item active"><a class="nav-link" href="#">Contact</a></li>
            </ul>
            <div class="col-lg-4"></div>
            <div class="navbar-expand-sm tw-flex tw-space-x-2" style="border: solid 0px white; height:25px;">
               <!-- <img class="tw-w-8 tw-h-8" src="/search_32px.png" alt="icon" style="border: solid 1px black;
                
                border-radius: 3px;">-->
                <input class="text form-control  " type="text" placeholder="Rechercher" style="border-color: white;
                outline: none;">
            </div>
                
            
        </div>
    </div>
</div>