<div class="row align-items-center g-5 py-5 px-5  rounded" style="background-color: rgba(255, 255, 255, 0.2);margin: 0%; margin-left: 2%;">
  <div class="col-12 col-sm-12 col-lg-6 rounded ">
    <img src="/assets/img/30/american-green-travel-Whnjjhi8OfQ-unsplash.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" class="rounded" 
    style="border-style: solid; border-radius: 5px;"
    
    >
  </div>
  <div class="col-lg-6 mb-3">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center" >About us</h1>
    <p class="lead fs-6 fw-bold " style="color: rgb(158, 158, 158);">Bienvenue chez Suitcase, votre destination en ligne pour 
      trouver la valise parfaite pour tous vos voyages. Nous vous proposons une sélection soigneusement choisie
       de valises de haute qualité, durables et élégantes. Que vous soyez un voyageur fréquent ou un aventurier,
        nous avons ce qu'il vous faut. Notre équipe passionnée est là pour vous guider dans votre choix.
         Explorez notre collection dès aujourd'hui et trouvez la valise parfaite qui vous accompagnera dans toutes vos aventures. Bon voyage!
     
    </p>
   <!--<div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
    </div>--> 
   
  </div>
  <div class="container-md tw-px-3 md:tw-px-3 tw-mt-9" style="margin-top:5%;">
		<br c-file="components/titles/proxim.htm" datas='{"title":"Nos Contributeurs"}' data-scroll="body-2he" data-scroll-percent="30"/>
  </div>

  


  <div id="myCarousel" class="carousel slide mb-10 mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true" style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""   style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="" style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class="" style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5" class=""  style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6" class=""  style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7" class="" style="width: 20px; background-color: rgba(80, 75, 75, 0.2);;height:20px ;border-radius: 50%;"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--
        <svg class="bd-placeholder-img " width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
         
        
        <div class="container">
         
        <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>-->
        <div class=" ">

       
        <div class="rounded-circle col-12 col-sm-12 col-lg-12" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/IMG-20240307-WA00071.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
       

        </div>
        <div class="row">
          <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
            Jovial Ngandu
          </div>
          <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
             Fullstack Develloper
          </div>
          <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
            <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
            <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
            <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
            <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
          </div>
       </div>
      </div>
      </div>

      <div class="">

     
      <div class="carousel-item">
        <!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>-->
        <div class="rounded-circle in__circle  col-12 col-sm-12 col-lg-12" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/IMG-20240313-WA0000.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
      </div>
      <div class="row">
        <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
          Jeancy Bakulu
        </div>
        <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
            Web Designer
        </div>
        <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
          <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
          <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
          <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
          <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
        </div>
     </div>
      
      </div>
      </div>
      <div class="">

      </div>
      <div class="carousel-item">
        <!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>-->
        <div class="rounded-circle" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/pexels-joan-sanchez-15968859.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
      </div>
      <div class="row">
        <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
          Sylvano Kabi
        </div>
        <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
             Front-end Develloper
        </div>
        <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
          <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
          <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
          <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
          <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
        </div>
     </div>
      </div>

      <div class="">

    
      <div class="carousel-item"><!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>YOOOOird slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>-->
        <div class="rounded-circle" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/pexels-ketut-subiyanto-4546018.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
      </div>
      <div class="row">
        <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
          Gedeon Bateko
        </div>
        <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
           Fullstack Develloper
        </div>
        <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
          <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
          <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
          <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
          <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
        </div>
     </div>
      </div>
      </div>
      <div class="">

   
      <div class="carousel-item"><!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>YOOOOird slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>-->
        <div class="rounded-circle" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/pexels-koolshooters-6976369.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
      </div>
      <div class="row">
        <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
          Trydon Kipiti
        </div>
        <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
          UI designer
        </div>
        <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
          <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
          <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
          <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
          <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
        </div>
     </div>
    </div>
  </div>
    <div class="">

  
      <div class="carousel-item">
        <!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>YOOOOird slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>-->
        <div class="rounded-circle" 
        style="width:200px;
        height: 200px;
         background-image:url(/assets/img/30/pexels-ketut-subiyanto-4546018.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        margin: auto;
        margin-bottom: 20px;
        ">
      </div>
      <div class="row">
        <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
         Gradi Kilo
        </div>
        <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
          Web developer
        </div>
        <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
          <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
          <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
          <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
          <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
        </div>
     </div>
    </div>
      </div>
      <div class="">

     
      <div class="carousel-item">
        <!--
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>YOOOOird slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>-->
      <div class="rounded-circle" 
      style="width:200px;
      height: 200px;
       background-image:url(/assets/img/30/pexels-ketut-subiyanto-4546018.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
      margin: auto;
      margin-bottom: 20px;
      ">
    </div>
    <div class="row">
      <div class="dev__name fw-bold h2" style="margin: auto;text-align: center;">
        Joseph Kanku
      </div>
      <div class="dev__achievement fw-bold"  style="margin: auto;text-align: center;color:rgba(80, 75, 75, 0.2);">
         Fullstack Develloper
      </div>
      <div style=" justify-content: center;display: flex;margin-bottom:30px;margin-top: 30px;">
        <img src="/assets/icons/icons8_facebook_1.svg" alt="facebook" class="icon__contact ">
        <img src="/assets/icons/icons8_whatsapp_1.svg" alt="whatsap" class="icon__contact">
        <img src="/assets/icons/icons8_github_1.svg" alt="github" class="icon__contact">
        <img src="/assets/icons/icons8_linkedin_1.svg" alt="linkedin" class="icon__contact">
      </div>
   </div>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br><br>








  
</div>
<style>
  .icon__contact
  {
    width: 30px;
    cursor: pointer;
    margin:3px;
    display: inline;
  }
</style>