<section class="tw-my-9 ">
   
   
  <div >
          
      <div  class="lead fs-6 fw-bold container text-center color-black color-opacity-50">
        En partenariat avec les marques emblématiques Gucci, 
        Versace et Louis Vuitton. Offrez-vous l'exclusivité et l'élégance de ces marques légendaires pour des voyages inoubliables. 
    </div>


    <div class="row  container-md tw-px-3 md:tw-px-3 tw-mt-9 tw-mb-9 d-flex" style="margin-top:5%;justify-content: center; ">
        <div style="width:200px;height:200px; border-radius:50%;margin-left:10px;
        
        background-image: url(/assets/img/30/photo1710345200.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        margin-top: 3px;
        " class="col-3 col-lg-3 col-md-3">
          
      </div>
        <div style="width: 200px; height: 200px; border-radius:50%;margin-left:10px;
        
        background-image: url(/assets/img/30/photo1710344894.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 3px;
        "  class="col-3 col-lg-3 col-md-3">
        </div>
        <div style="width: 200px; height: 200px; border-radius:50%;margin-left:10px;
        
        background-image: url(/assets/img/30/photo1710344925.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 3px;
        "  class="col-3 col-lg-3 col-md-3">
        </div>
     
   
  </div>
</div>
</section>