<span class="btn__container" >
    <span class="btn btn-light btn__btn" id="btn__btn-1">-</span>
    <span class="btn btn-light  btn__btn btn__btn--midle">1</span>
    <span class="btn btn-light  btn__btn" id="btn__btn-3"  id="btn__btn-2">+</span>
</span>
<style>
.btn__btn
{
   margin-left: -5px;
   border-radius: 0px;
   border-style: solid;
    border-width: 1px;
    border-color: rgb(137, 132, 132);
 
}
.btn__container
{
    margin-left: 20px;
    margin-top: -5px;
}
</style>

<script>
/*script pour incrementer et decrementer l'ajout de la quantite a acheter*/

/*je met le tout dans settimeout parceque le script se charge avant la page du coupl'acces aux element avec document ne passe pas*/
setTimeout(() => {
    /*declaration*/
    btn__increment=document.getElementById("btn__btn-1");
    btn__decrement=document.getElementById("btn__btn-3");
    result__incr=document.querySelector('.btn__btn--midle')
    



    btn__increment.onclick=function(){alert("")}
    btn__increment.onclick=()=>{
    /*alert("decremente");*/
    if(parseInt(result__incr.innerText)>1)
    {
        result__incr.innerText=parseInt(result__incr.innerText)-1
    }
   
     
}
    btn__decrement.onclick=()=>{
        if(parseInt(result__incr.innerText)<30)
        {
            result__incr.innerText=parseInt(result__incr.innerText) +1
        }
       
/* alert("incremente");*/
} 
}, 2000);

</script>