<div class="component-button-filter-e22e">
	<div class="{{container:container-md}}">
		<div class=" tw-flex tw-justify-center">
			<div c-file="components/buttons/wic.htm" datas='{"title" : "Filtre"}' data-bs-target=".content-ew29he" data-bs-toggle="collapse" class=" tw-items-center tw-space-x-1" 
			 >
				<div c-slot="icon">
					<span class="tw-w-5 tw-h-5">
						<svg class="tw-w-full tw-h-full" viewBox="0 0 50 50">
							<path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 25 3 L 7 22 L 43 22 Z M 7 26 L 25 45 L 43 26 Z "></path>
						</svg>
					</span>
				</div>
			</div>
		</div>
		<div class="content-ew29he collapse {{active:show:i|[active]}} bg-red-400 tw-p-3 sm:tw-p-4 md:tw-p-6 tw-rounded-b-2xl">
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3">
					<div c-file="components/lists/main.htm" datas='{"title" : "Type de valise"}'>
						<div c-slot="content">
							<a href="">Rigides</a>
							<a href="">Souples</a>
							<a href="">Cabine</a>
							<a href="">À Roulettes</a>
							<a href="">Pour enfants</a>
							<a href="">Plus...</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<div c-file="components/lists/main.htm" datas='{"title" : "Marques"}'>
						<div c-slot="content">
							<a href="">Louis Vuitton</a>
							<a href="">Hermès</a>
							<a href="">Chanel</a>
							<a href="">Gucci</a>
							<a href="">Dior</a>
							<a href="">Plus...</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<div c-file="components/lists/main.htm" datas='{"title" : "Trier par"}'>
						<div c-slot="content">
							<a href="">Date</a>
							<a href="">Date (Inverse)</a>
							<a href="">A - Z</a>
							<a href="">Z - A</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<div c-file="components/lists/main.htm" datas='{"title" : "Autres"}'>
						<div c-slot="content">
							<a href="">Prix -</a>
							<a href="">Prix +</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.component-button-filter-e22e{}
	.component-button-filter-e22e .content-ew29he{
		box-shadow: 0 10px 10px hsla(0, 100%, 0%, .06);
	}
	.component-button-filter-e22e .content-ew29he{}
	.component-button-filter-e22e .content-ew29he.show{
/*		animation: opa 2s;*/
	}
</style>