<{{link:a:i|[link]}}{{link:button:i|![link]}} href="{{link:}}" class="
		{{link:tw-inline-block:i|[link]}}
		tw-border-2
	{{type:
		tw-border-white tw-border-opacity-30
		tw-bg-white tw-bg-opacity-20 hover\:tw-bg-opacity-100
	:i|![type]}}
	{{type:
		suitcase-border-color-dark-15 suitcase-border-color-opacity-30
		suitcase-bg-color-dark-15 hover\:suitcase-bg-color-default suitcase-bg-color-opacity-20 hover\:suitcase-bg-color-opacity-100
	:i|[type] == 1}}
	{{padding:tw-px-6 tw-py-2}}
	tw-rounded-full
	tw-transition-all tw-duration-200
	{{font:ff-jost-semibold tw-text-center}}
">{{title:Button}}</{{link:a:i|[link]}}{{link:button:i|![link]}}>