<div data-nothing class="component-pagination-main-ed29h tw-flex tw-items-center tw-justify-center">
	<div>
		<a href="#prev-page" class="bg-color-white bg-color-opacity-50 hover:bg-color-opacity-100 tw-w-8 tw-h-8 tw-flex tw-items-center tw-justify-center tw-p-2.5 tw-rounded-lg">
			<br c-file="assets/icons/back.svg" class=" tw-w-full tw-h-full" />
		</a>
	</div>
	<!-- <div class="pagination-e982h px-3 overflow-hidden overflow-x-auto tw-whitespace-nowrap tw-flex" style="min-width: 10%;">
		<a href="http://widel.net/browse" class="flex items-center ff-Brandon-Bold text-sm sm:text-lg md:text-xl rounded sm:rounded-md px-3 py-1 widel-bg-color-default color-white">1</a>
	</div> -->
	<div data-page="{{page:}}" data-active="1" class="pagination-e982h tw-mx-2 overflow-hidden overflow-x-auto tw-whitespace-nowrap tw-flex" style="min-width: 10%;">
	<!-- <div class="flex-1 overflow-hidden overflow-x-auto w-full"> -->
		<div class="tw-p-2 sm:tw-p-3 tw-flex tw-flex-nowrap tw-items-center tw-justify-center tw-space-x-3 sm:tw-space-x-6 tw-w-full" style="white-space: nowrap;">
			<!-- <a href="http://widel.net/browse" class=" tw-flex tw-items-center ff-jost-semibold tw-text-sm sm:tw-text-lg md:tw-text-xl tw-rounded sm:tw-rounded-md tw-px-3 tw-py-1 suitcase-bg-color-default color-white">1</a>
			<a href="http://widel.net/browse" class=" tw-flex tw-items-center ff-jost-semibold tw-text-sm sm:tw-text-lg md:tw-text-xl tw-rounded sm:tw-rounded-md tw-px-3 tw-py-1 bg-color-white-40 dark:bg-color-black-20 bg-color-opacity-80 hover:bg-color-opacity-100 dark:bg-color-opacity-20 dark:hover:bg-color-opacity-50">2</a> -->
		</div>
	</div>
	<div>
		<a href="#next-page" class="bg-color-white bg-color-opacity-50 hover:bg-color-opacity-100 tw-w-8 tw-h-8 tw-flex tw-items-center tw-justify-center tw-p-2.5 tw-rounded-lg">
			<br c-file="assets/icons/forward.svg" class=" tw-w-full tw-h-full" />
		</a>
	</div>
</div>
<script type="text/javascript">
	let ii_w9u2 ={}, tentative_wy2e = 0; 
	ii_w9u2.i = setInterval(() => {
		var ps_ew2uhe = document.querySelectorAll('.pagination-e982h');
		if(tentative_wy2e > 8 || ps_ew2uhe.length > 0){
			clearInterval(ii_w9u2.i);
			function temp_e892h(act, page, link, separate){
				return `<a `+((link === true || link === undefined) && act !== true && separate !== true ? 'href=""' : link)+` class=" tw-flex tw-items-center ff-jost-semibold tw-text-sm sm:tw-text-lg md:tw-text-xl tw-rounded sm:tw-rounded-md tw-px-3 tw-py-1 ` + (separate ? '' : (act ? 'suitcase-bg-color-default color-white' : 'bg-color-white-40 dark:bg-color-black-20 bg-color-opacity-80 hover:bg-color-opacity-100 dark:bg-color-opacity-20 dark:hover:bg-color-opacity-50'))+`">` + page + `</a>`;
			}
			for(let p_e8y2 of ps_ew2uhe){
				if(p_e8y2.hasAttribute('data-page')){
					var pages_w92 = parseInt(p_e8y2.getAttribute('data-page'));
					var active_w92h = p_e8y2.getAttribute('data-active') && p_e8y2.getAttribute('data-active') != ''? p_e8y2.getAttribute('data-active') : 1;
					if(pages_w92){
						console.log(pages_w92)
						for (var i = 0; i < pages_w92; i++) {
							p_e8y2.children[0].innerHTML += temp_e892h(active_w92h == (i+1), i + 1, true);
							if(i == 4 && (pages_w92 - 4) > i){
								i = pages_w92 - 4;
								p_e8y2.children[0].innerHTML += temp_e892h(false, '...', true, true);
							}
						}
					}
				}
			}
		}
		tentative_wy2e++;
	}, 60);
</script>
<style type="text/css">
	.component-pagination-main-ed29h{}
	.component-pagination-main-ed29h[data-nothing] > div:first-child a{
		background-color: transparent;
	}
</style>