<div class="profil__area">
    <div class="container">
        <div class="col-md-4">
            <div class="card">
                <div class="img1"><img src="/assets/img/30/claudia-altamimi-kYSJ1xBi848-unsplash.jpg" alt=""></div>
                <div class="img2"><img src="/assets/img/30/claudia-altamimi-kYSJ1xBi848-unsplash.jpg" alt=""></div>
                <div class="main__text">
                    <h2>JEANCYNO BAKULU</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempore dolorum quae velit hic quod ea iste, dolorem quisquam? Magnam.</p>
                </div>
                <div class="socials">
                     <img src="/assets/img/icon/icons8_facebook.ico" alt=""> 
                    <img src="/assets/img/icon/icons8_instagram.ico" alt="">
                    <img src="/assets/img/icon/icons8_twitter.ico" alt=""> 
            
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/css/card.css">
