<div class="component-cat-two-w1h {{resp:tw-flex tw-items-start tw-space-x-7}}">
	<div class="img-w2w ratio-1/1 tw-rounded-full tw-bg-cover tw-bg-no-repeat tw-bg-center {{resp1:tw-w-1/3}}" style="background-image: url({{image}});"></div>
	<div class="content-r3w tw-space-y-5 tw-flex-1">
		<h2 class="ff-jost-bold tw-text-xl sm:tw-text-2xl">{{title}}</h2>
		<p class="ff-jost-medium tw-opacity-70 tw-text-sm sm:tw-text-base">{{description}}</p>
		<button c-file="components/buttons/sample.html">
			<div id="datas">
				{
					"title" : "{{button_title:button_title}}",
					"link" : "{{link:}}"
				}
			</div>
		</button>
	</div>
</div>
<style type="text/css">
	.component-cat-two-w1h{}
	.component-cat-two-w1h[data-scroll]{
		opacity: 0; transition: .4s;
		transform: scale(.8) translateX(-50%);
	}
	[data-parent-card-two] > *:nth-child(2n) .component-cat-two-w1h[data-scroll]{
		transform: scale(.8) translateX(50%);
	}
	.component-cat-two-w1h[data-scroll-active="1"]{
		opacity: 1;
		transform: translateX(0) !important;
	}
</style>
<!-- <div class="component-cat-two-w1h tw-flex tw-items-stretch tw-space-x-7">
	<div class="img-w2w ratio-1/1 tw-w-1/4- tw-bg-red-400 tw-rounded-full tw-bg-cover tw-bg-no-repeat tw-bg-center" style="background-image: url({{image}});"></div>
	<div class="content-r3w tw-space-y-5">
		<h2 class="ff-jost-semibold tw-text-2xl">{{title}}</h2>
		<p class="ff-jost-medium opacity-70">{{description}}</p>
		<button c-file="components/buttons/sample.html">
			<div id="datas">
				{
					"title" : "{{button_title:button_title}}"
				}
			</div>
		</button>
	</div>
</div>
<style type="text/css">
	.component-cat-two-w1h{}
</style> -->