<div class="component-cards-category-g-2u0
	tw-flex
	tw-flex-col lg:tw-flex-row
	bg-color-white bg-color-opacity-20 
	tw-overflow-hidden 
	tw-rounded-lg sm:tw-rounded-2xl
">
	<div class="
		tw-w-full lg:tw-w-1/2 
		tw-flex tw-flex-col 
		tw-justify-between
		tw-p-3 sm:tw-p-6
		tw-space-y-3 sm:tw-space-y-5
		tw-h-full lg:tw-h-auto
	">
		<div class="tw-space-y-3 sm:tw-space-y-5">
			<h2 class="tw-text-2xl ff-jost-semibold">{{title:title}}</h2>
			<p class="lg:tw-text-lg ff-jost opacity-70">{{description:description}}</p>
		</div>
		<div>
			<button c-file="components/buttons/sample.html">
				<div id="datas">
					{
						"title" : "{{button_title:button_title}}"
					}
				</div>
			</button>
		</div>
	</div>
	<img class="tw-w-full lg:tw-hidden tw-mb-3 tw-order-first tw-rounded-lg tw-px-0" src="{{image:a}}">
	<div class="
		tw-hidden lg:tw-block
		tw-w-full lg:tw-w-1/2
		tw-bg-cover tw-bg-center tw-bg-no-repeat
		tw-rounded-lg sm:tw-rounded-2xl 
		lg:tw-ml-3" style="background-image: url({{image:a}});"></div>
</div>
<style type="text/css">
	.component-cards-category-g-2u0[data-scroll]{
		opacity: 0; transition: .4s;
		transform: scale(.8) translateX(-50%);
	}
	[data-parent-card-category] > *:nth-child(2n) .component-cards-category-g-2u0[data-scroll]{
		transform: scale(.8) translateX(50%);
	}
	.component-cards-category-g-2u0[data-scroll-active="1"]{
		opacity: 1;
		transform: translateX(0) !important;
	}
</style>