<div class="
	component-card-define-e29
	bg-color-black bg-color-opacity-50
	tw-border-b-4
	suitcase-border-color-light-15 suitcase-border-color-opacity-30
	tw-rounded-2xl tw-p-5
">
	<div class="tw-flex tw-justify-end tw-relative zi-1">
		<div class="suitcase-bg-color-light-15 color-black tw-shadow ratio-1/1 tw-w-1/6 md:tw-w-1/4 lg:tw-w-1/6 md:tw-p-1.5 lg:tw-p-2 xl:tw-p-3 tw-rounded-2xl tw-flex tw-justify-center tw-items-center tw-mr-3">
			<br c-file="{{icon:assets/icons/physics.svg}}"/>
		</div>
		<div class="image-e82h tw-absolute tw-right-0 tw-bottom-0 tw-w-full tw-h-20 tw-rounded-lg -zi-1 tw-transform tw-translate-y-1/2 tw-bg-no-repeat tw-bg-cover tw-bg-center bg-color-black-10" style="background-image: url({{image:http\://cdn.net/image/300.jpg}});"></div>
	</div>
	<div class="tw-mt-16 color-white tw-space-y-3">
		<h5 class="ff-jost-semibold tw-text-2xl">{{title:title}}</h5>
		<p class="tw- ff-jost opacity-70">{{description:desc}}</p>
	</div>
</div>
<style type="text/css">
	.component-card-define-e29{transition: .3s;}
	.component-card-define-e29:hover{
		transform: scale(1.06) translateY(-10%);
		--suitcase-border-color-opacity : 1;
	}
	.component-card-define-e29 .image-e82h{}
</style>