<div class="component-card-sorta-ew92">
	<div class="tw-relative zi-1">
		<div class="content-2he">
			<div class="tw-overflow-hidden tw-px-5 tw-block">
				<a href="{{link:}}">
					<img class="tw-rounded-2xl bg-color-white-30 bg-color-opacity-20-" src="{{image:/assets/img/original/oliur-1JNk998-g70-unsplash.jpg}}" style="min-height: 5%;" alt="{{alt:}}" loading="lazy">
				</a>
			</div>
			<div class="tw-px-5 tw-pb-5 tw-mt-2">
				<div class="badge-e2e2 tw-mb-3 {{badge:tw-hidden:i|![badge]}}">{{badge:badge}}</div>
				<a href="{{link:}}" class="title-ed9e32 ff-jost-medium tw-text-xl tw-inline-block hover:suitcase-color-dark-20">{{product:product}}</a>
				<div class="tw-mt-3 tw-flex tw-justify-between tw-space-x-3 tw-items-center">
					<span class="ff-jost-semibold">{{price:price}}</span>
					<span class="ff-jost tw-opacity-70 tw-line-through {{old-price:tw-hidden:i|![old-price]}}">{{old-price:old-price}}</span>
				</div>
			</div>
		</div>
		<div class="back-s2h bg-color-white bg-color-opacity-20"></div>
	</div>
</div>
<style type="text/css">
	.component-card-sorta-ew92{display: block;}
	.component-card-sorta-ew92 .back-s2h{
		position: absolute; left: 0; bottom: 0;
		height: 80%; width: 100%;
		border-radius: 24px;
		z-index: -1;
	}
	.component-card-sorta-ew92 .title-ed9e32{}
</style>