<div class="component-card-third-we2">
	<div class="tw-relative zi-1">
		<div class="tw-p-3">
			<a href="{{link:}}" class="img-ew1h ratio-1/1 bg-color-white-30 color-black color-opacity-20" style="background-image: url({{image:/assets/img/original/ok/american-green-travel-mAEnD6XjCsE-unsplash.jpg}});"></a>
			<div class="tw-space-y-5 tw-mt-2 px-2">
				<a href="{{link:}}" class="product-and-price-e29 tw-flex tw-space-x-2 tw-justify-between tw-items-center">
					<div class="tw-flex tw-flex-col">
						<h4 class="ff-jost-medium tw-text-sm md:tw-text-base">{{product:[product]}}</h4>
						<p class="mt-1 tw-text-xs md:tw-text-sm ff-jost tw-opacity-70 {{description:tw-hidden:i|![description]}}">{{description:}}</p>
					</div>
					<h4 class="ff-jost-bold suitcase-color-default" style="{{description:transform\: translateY(2px);:i|[description]}}">{{price:[price]}}</h4>
				</a>
				<div class="tw-flex tw-justify-center">
					<br onclick="addBadge(cart_act_w92, this)" class="button-2enh border-2 border-color-black border-color-opacity-10 hover:bg-color-white hover:bg-color-opacity-10 tw-rounded-full tw-items-center tw-p-3 tw-space-x-1 tw-transition tw-duration-150" c-file="components/buttons/wic.htm" datas='{
						"title" : "Ajouter au pannier", 
						"icon" : "assets/icons/shopping-cart-0.svg", 
						"class" : "tw-w-4 tw-h-4",
						"font" : "tw-text-sm ff-jost-medium"
					}'/>
				</div>
			</div>
		</div>
		<div class="back-d2 bg-color-white bg-color-opacity-20"></div>
	</div>
</div>
<style type="text/css">
	.component-card-third-we2{}
	.component-card-third-we2 .img-ew1h{
		display: block;
		border-radius: 50%;
		background-repeat: no-repeat; background-size: cover;
		background-position: center;
		transition: .4s;
	}
	.component-card-third-we2 > div:hover .img-ew1h{
		transform: translateY(-10%) scale(1.03);
		background-color: transparent;
		box-shadow: 0 10px 10px 0px currentColor;
	}
	.component-card-third-we2 > div:hover .img-ew1h:hover{
		transform: translateY(-10%) scale(1.07);
	}
	.component-card-third-we2 > div:hover .product-and-price-e29{
		color: white;
	}
	.component-card-third-we2 .button-2enh{}
	.component-card-third-we2 > div:hover .button-2enh{
		color: white;
		border-color: hsla(0, 100%, 100%, .1);
	}
	.component-card-third-we2 .back-d2{
		z-index: -1;
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		border-bottom-left-radius: calc((500px * 20) / 100) !important; border-bottom-right-radius: calc((500px * 20) / 100) !important;
		border-top-left-radius: 500px; border-top-right-radius: 500px;
		transition: .4s;
	}
	.component-card-third-we2 > div:hover .back-d2{
		filter: brightness(0);
		--bg-color-opacity-ppoo : .6;
	}
</style>
<script type="text/javascript">
	function cart_act_w92(el, val, bb){
		el.children[1].innerText = bb == '1' ? 'Rétirer du pannier' : 'Ajouter au pannier';
		if(bb == '1'){
			el.classList.remove('hover:bg-color-opacity-10')
			el.classList.remove('hover:bg-color-white')
			el.classList.add('tw-bg-red-500')
			el.classList.add('tw-bg-opacity-75')
			el.classList.add('color-white')
		}
		else{
			el.classList.remove('color-white')
			el.classList.remove('tw-bg-red-500')
			el.classList.remove('tw-bg-opacity-75')
			el.classList.add('hover:bg-color-opacity-10')
			el.classList.add('hover:bg-color-white')
			// el.classList.add('bg-color-white')
		}
	}
</script>