<div class="components-lists-main-w9u12">
	<div class="title-e82yh ff-jost-semibold fs-6">{{title}}</div>
	<div class="list-s82h px-md-1 px-lg-2 tw-flex tw-flex-col tw-space-y-2">
		@[--content--]
	</div>
</div>

<style type="text/css">
.components-lists-main-w9u12 .title-e82yh:after{
	content: "";
	display: block;
	height: 1px;
	margin: 25px 0;
	margin-bottom: 15px;
	width: 70%;
	background-color: rgba(0,0,0,.4);
}
.components-lists-main-w9u12:hover .title-e82yh:after{
	background-color: hsla(210, 60%, 77%);
}
.components-lists-main-w9u12 .list-s82h > *.def-e2d{
	font-size: 1rem;
	font-family: "Jost Regular";
}
.components-lists-main-w9u12 .list-s82h > *.def-e2d:hover{
	color : hsla(210, 60%, 37%);
}
</style>