<div class=" row d-flex flex-lg-row align-items-center g-5 py-5 ">
    <div class="col-12 col-sm-12 col-lg-6 justify-content-center  align-items-center">
      <img src="{{image}}" class="d-block mx-lg-auto img-fluid banner__8__img--anim" alt="Bootstrap Themes" width="200" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 col-12 col-sm-12 ">
      <h4 class=" fw-bold mb-3 h4 text-center">{{title:}}</h4>
      <p class=" text-center fw-bold suitcase-color-dark-15" style="margin-bottom: 10px !important;">{{price:}}</p>
      <div class="mb-20" style="justify-content: center;
      display: flex;
      margin: 5%;">
        <span class=" fw-bold" style="margin-bottom: -10px !important;">{{description:}}</span>  @[--button__2--]
      </div>
      <p class=" fs-6 fw-bold" style="text-align: center !important;">{{description__2:}}</p>
     
     
      <div class="tw-flex tw-space-x-4" style="margin-bottom: 10px !important;
      justify-content:center;
      ">
        @[--button--]
      </div>
    </div>
    
  </div>