<div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/img/original/photo1709665128.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h4 class=" fw-bold mb-3 h4 text-center">{{title:}}</h4>
      <p class=" text-center fw-bold suitcase-color-dark-15" style="margin-bottom: 10px !important;">{{price:}}</p>
     
      <p class=" fs-6" style="margin-bottom: 30px !important;">{{description:}}</p>
      <div class="mb-20" style="justify-content: center;
      display: flex;
      margin: 5%;">
        <span class=" fw-bold" style="margin-bottom: -10px !important;">{{description__2:}}</span>  @[--button__2--]
      </div>
     
      <div class="tw-flex tw-space-x-4" style="margin-bottom: 10px !important;
      justify-content:center;
      ">
        @[--button--]
      </div>
    </div>
    
  </div>
