

<div>

  <div class=" d-flex space-between offset-4 d-sm-none d-md-flex d-lg-flex none__ll">
  <span class="col-3  justify-content-center" style="padding-left: 5%;">Description</span>
  <span  class="col-3 " style="padding-left: 5%;">Quantity</span>
  <span  class="col-3 " style="padding-left: 5%;">Price</span>
  <span  class="col-3 " style="padding-left: 5%;">&nbsp;&nbsp;Delete</span>
  </div>
  
  
  <div class=" row d-flex flex-lg-row align-items-center g-5 py-5">
    
      <div class=" col-lg-4  col-md-4 col-sm-12 ml-sm-10 justify-content-center  align-items-center " style="">
        <img src="{{image}}" class="d-block sm-w-10 img-fluid banner__8__img--anim " alt="Bootstrap Themes" width="200" height="100" loading="lazy" style="margin-left 50px;">
      </div>



      <div class="col-lg-8 col-md-8 col-sm-12  row  d-flex space-between px-sm-auto   space__x " style="margin-top: 50px;">
        <span class=" col-3  fs-6 mb-3 text-center x__2" style="margin-left -30px;">{{title:}} </span>
       <!-- <p class="col-2 text-center fw-bold suitcase-color-dark-15" style="margin-bottom: 10px !important;">{{description:}}</p>
        <div class=" col-2 mb-20" style="justify-content: center;
        display: flex;
        margin: 5%;">
          <span class=" fw-bold" style="margin-bottom: -10px !important;">{{price:}}</span>  @[--button__2--]
        </div>-->
      
        <span class="col-3 x__1 space__center"> @[--button__2--]</span>
        <span class=" col-2 x__3 space__center" style="margin-left: 20px;">{{price:}}</span>
        <span class="col-3 d-flex  justify-content-center justyfy-center x__4"><button><img src="/assets/icons/img__delete.svg" alt="x" srcset="" style="width:20px;margin-bottom:50px; "></button></span> 
  
        <!--<p class="col-2 fs-6 fw-bold" style="text-align: center !important;">{{description__2:}}</p>
       
       
        <div class=" col-2  row tw-flex tw-space-x-4" style="margin-bottom: 10px !important;
        justify-content:center;
        ">
          @[--button--]
        </div>-->
      </div>
      
    </div>
  </div>
  <style>
   .banner__8__img--anim
    {
       width: 100% !important;
       overflow: hidden !important;
    }
   
    @media (max-width:575px) 
    {
      .space__x
    {
      margin-left: 20px;

    }
    .none__ll
    {
      display: none !important;
    }
    @media only screen and (max-width:420px) 
    {
      *
      {
        background-color: ;
      }
      .x__1,.x__2,.x__3,.x__4
      {
        width: 100%;
        margin-top:10px;
      }
      .space__center
      {
        margin-left: 25% ;
      }
      .x__3
      {
        margin-left: 30% !important;
      }
    }
   
  </style>
