<div class="banner-raya-ni4983">
	<div class="bg-color-white bg-color-opacity-20 tw-rounded-3xl tw-overflow-hidden tw-py-20 tw-relative tw-z-index-1">
		<div class="back-jiw89 tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-full tw-opacity-70 -zi-1">
			<!-- @for($i = 0; $i < 9; $i++)
				<?php $d = random_int(4, 14); $x = random_int(0, 100); $y = random_int(0, 100); ?>
				<div class="absolute rounded-full" style="border: 6px solid white; width: {!! $d !!}rem; height: {!! $d !!}rem;top:calc({!! $y !!}% - {!! $d / 2 !!}rem);left:calc({!! $x !!}% - {!! $d / 2 !!}rem);"></div>
			@endfor -->
				<div class=" tw-absolute tw-rounded-full" style="border: 6px solid hsla(0, 100%, 100%, .3); width: 12rem; height: 12rem;top:calc(20% - 6rem);left:calc(57% - 6rem);"></div>
		</div>
		<div class="content-io9e3 tw-text-center tw-flex tw-flex-col tw-justify-center tw-space-y-3">
			<span class="ff-jost-semibold tw-text-base md:tw-text-xl tw-opacity-70">Resultat de la recherche</span>
			<span class="ff-poppins-black tw-text-2xl md:tw-text-5xl">{{match:[match]}} "{{search:[search]}}" Trouvé</span>
		</div>
	</div>
	<div class="relative zi-1" style="transform: translateY(-50%);">
		<form class="tw-flex tw-flex-col md:tw-flex-row md:tw-items-center tw-justify-center md:tw-justify-start md:tw-space-x-5 tw-rounded-3xl tw-py-4 md:tw-py-6 tw-px-4 md:tw-px-8 {{bg-input:tw-bg-white}} tw-shadow-2xl tw-w-11/12 md:tw-w-9/12 tw-mx-auto" method="{{method:get}}" action="{{action:/pages/search.html}}">
			<span class="tw-hidden md:tw-inline-block tw-w-5 tw-h-5 tw-text-black"><br c-file="assets/icons/search.svg"/></span>
			<div class="tw-flex-1 tw-mb-5 md:tw-mb-0"><input class="tw-bg-transparent tw-w-full tw-text-center md:tw-text-left ff-jost-semibold tw-text-base md:tw-text-lg" style="outline: none !important;" type="search" value="{{search:[search]}}" name="{{name:search}}"></div>
			<div class="tw-text-center"><button class=" tw-inline-flex tw-items-center tw-space-x-2 tw-text-center tw-rounded-lg suitcase-bg-color-light-10 hover:suitcase-bg-color-light-30 focus:suitcase-bg-color-light-30 tw-px-3 tw-py-2 tw-outline-none"><span class="ff-jost-semibold">Rechercher</span><span class="tw-inline-block md:tw-hidden tw-w-4 tw-h-4 tw-text-black"><br c-file="assets/icons/search.svg"/></span></button></div>
		</form>
	</div>
</div>
<script type="text/javascript">
	let obj_eus2 = {}
	obj_eus2.interval = setInterval(()=>{
		if(document.querySelector('.back-jiw89')){
			var final = '';
			for (var i = 0; i < 9; i++) {
				let d = random_int(4, 14), x = random_int(0, 100), y = random_int(0, 100);
				let str = `<div class="tw-absolute tw-rounded-full color-white color-opacity-30" style="border: 6px solid currentColor; width: ` + d + `rem; height: ` + d + `rem;top:calc(` + y + `% - ` + (d / 2) + `rem);left:calc(` + x + `% - ` + (d / 2) + `rem);"></div>`;
				final += str;
			}
			document.querySelector('.back-jiw89').innerHTML = final;
			clearInterval(obj_eus2.interval);
		}
	}, 65);
</script>