 
 <div class="container " style="background-color: rgb(222, 238, 252) ;border-radius: 20px;">
	<div class="row " >
		<div class="col-4  ">
			<img src="/assets/img/30/sun-lingyan-q-4fbq8pUO4-unsplash.jpg" class="float-start cc" alt="...">
			
		</div>
		
			<div class="col" style="width: 697px; ">
				<div style="text-align: center;">
					<p>Nous aimons avoir se vos nouvelles! veuillez nous faire savoir si vous <br>
					avez des questions ou des préoccupations et  nous vous répondrons dans <br> les 2 jours ouvrable .merci! </p>
				</div>
				<form  action="/action_page.php" style="margin-left: 10px;margin-top: -61px; "><br>
					<label for="nom" class="form-label">Nom:</label>
					<input type="text" class="form-control form-control-lg" placeholder="Saisi le Nom">
					<label for="mail" class="form-label">Email:</label>
					<input type="text" class="form-control form-control-lg" placeholder="Exemple@gmal.com">
					<label for="numero" class="form-label">Numero:</label>
					<input type="text" class="form-control form-control-lg" placeholder="saisi  le numero">
					<label for="comment">Commentaire:</label>
					<textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
					<div class="d-grid">
						<button type="button" class="btn btn-primary btn-block">Envoyer</button>
					</div> 
					
					
				
				  </form>
			  </div>
	
	</div>
  </div>
  <style>
     .cc{
		width: 385px;
    height: 573px;
	margin-left: -27px;
	
	 }
  </style>