<div class="contact">
    <div style="margin-left: 10px;">
        <h1>Contacter nous</h1>
        <hr style="width:177px;border:5px solid  ; " class="round Suitcase-bg-color-dark">
    </div>
        <div class="container" style="background-color: aliceblue; border-radius: 5px;">
            <div class=" mb-3" style="max-width: 1022px;">
                <div class="row ">
                  <div class="col-4">
                    <img src="./assets/img/30/sun-lingyan-q-4fbq8pUO4-unsplash.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-8" style="width: 697px; ">
                    <div>
                        <p>Nous aimons avoir se vos nouvelles! veuillez nous faire savoir si vous <br>
                        avez des questions ou des préoccupations et  nous vous répondrons dans <br> les 2 jours ouvrable .merci! <br></p>
                    </div>
                    <form action="/action_page.php" style="margin-left: 10px; "><br>
                        <label for="nom" class="form-label">Nom:</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Saisi le Nom">
                        <label for="mail" class="form-label">Email:</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Exemple@gmal.com">
                        <label for="numero" class="form-label">Numero:</label>
                        <input type="text" class="form-control form-control-lg" placeholder="saisi  le numero">
                        <label for="comment">Commentaire:</label>
                        <textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
                        <div class="d-grid">
                            <button type="button" class="btn btn-primary btn-block">Envoyer</button>
                        </div> 
                        
                        
                    
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
           <style>
            .rounded-start{
                width: 313px;
        height: 618px;
        margin-left: -11px;
            }
    
           </style>