<main class="layout-main-29hd tw-w-screen tw-h-screen tw-p-2 md:tw-p-4 lg:tw-p-7 xl:tw-p-10 tw-relative zi-1 tw-flex" data-menu-type="{{menu-type:fixed}}">
	<div class="main-content-28h tw-flex tw-h-full tw-w-full tw-flex-col tw-flex-1 tw-transition-all tw-duration-500 relative zi-1">
		<div class="tw-h-full suitcase-bg-color-light-35 tw-rounded-2xl tw-overflow-hidden tw-relative zi-1">
			<div class="tw-h-full tw-w-full tw-overflow-y-auto tw-relative zi-1">
				<div class="tw-mb-5- tw-p-5">
					<div class="bg-color-black bg-color-opacity-10 tw-rounded-2xl" style="min-height: 10px;">
						<!-- <button onclick="layout_main_toggle_menu()">ss</button> -->
						@[--head--]
					</div>
				</div>
				@[--body--]
			</div>
			<div class="tw-w-full tw-h-full tw-overflow-hidden tw-flex tw-absolute tw-top-0 tw-left-0 -zi-1">
				<div class="bck-ew92 tw-bg-center tw-bg-cover tw-bg-no-repeat" style="background-image: url({{image}});filter: blur(50px) brightness(.9);">a</div>
				<div class="bck-ew92 tw-border-2 border-color-white border-color-opacity-60" style="box-shadow: inset 0 0px 7px 3px hsla(0, 100%, 100%, .5);"></div>
			</div>
		</div>
	</div>
	<div data-state="0" class="menu-e82 tw-flex
		{{menu-type:tw-w-full:i|![menu-type] || [menu-type] == 'fixed'}}
		{{menu-type:md\:tw-p-5 tw-w-11/12 sm\:tw-w-1/2 md\:tw-w-5/12:i|[menu-type] == 'push'}}
		lg:tw-hidden tw-items-center tw-justify-end tw-h-full tw-transition-all tw-duration-200 tw-z-10">
		<div class="close-area-ww92 -zi-1 tw-w-full tw-h-full bg-color-black bg-color-opacity-20 tw-absolute tw-cursor-pointer" onclick="layout_main_toggle_menu();"></div>
		<div class="container-e29n tw-h-full tw-my-auto tw-p-3
			{{menu-type:sm\:tw-p-4 md\:tw-p-5 tw-w-11/12 sm\:tw-w-1/2 md\:tw-w-5/12:i|![menu-type] || [menu-type] == 'fixed'}}
			{{menu-type:sm\:tw-p-4 md\:tw-p-5 tw-w-full:i|[menu-type] == 'push'}}
		tw-transition-all tw-duration-500">
			<div class="tw-h-full bg-color-white bg-color-opacity-95 tw-rounded-2xl tw-overflow-hidden">
				<div class="tw-h-full tw-w-full tw-overflow-y-auto tw-overflow-hidden">
					<div class="">menu</div>
					<button onclick="layout_main_toggle_menu()">Fermer menu</button>
				</div>
			</div>
		</div>
	</div>
</main>
<style type="text/css">
	.bck-ew92{
		width: 100%; height: 100%;
		position: absolute;
		left: 0; top: 0;
		border-radius: 1rem;
	}
	.layout-main-29hd{}
	.layout-main-29hd[data-menu-type="fixed"]{}
	.layout-main-29hd[data-menu-type="push"]{}
	.layout-main-29hd .menu-e82{
		position: fixed;
		top: 0; right: 0;
	}
	.layout-main-29hd .menu-e82[data-state="0"]{
		visibility: hidden;
		opacity: 0;
	}
	.layout-main-29hd[data-menu-type="fixed"] .menu-e82{}
	.layout-main-29hd[data-menu-type="push"] .menu-e82{}
	.layout-main-29hd[data-menu-type="push"] .menu-e82 .close-area-ww92{ display: none; }

	.layout-main-29hd .menu-e82 .container-e29n{ transform: translateX(100%) scale(.9); }
	.layout-main-29hd .menu-e82[data-state="1"]  .container-e29n{ transform: translateX(0%); }
</style>
<script type="text/javascript">
	const MENU_TYPE = "{{menu-type:fixed}}";
	function layout_main_toggle_menu(el) {
		el = el === undefined ? '.menu-e82' : el;
		el = typeof el == 'string' ? document.querySelector(el) : el;
		
		let is_open = el.getAttribute('data-state') == '0' ? false : true;
		
		let main_co = document.querySelector('.main-content-28h');

		if(!is_open){
			el.setAttribute('data-state', '1');
			if(MENU_TYPE == 'push'){
				main_co.ontouchstart = (e) => {
					e.preventDefault();
					layout_main_toggle_menu();
				}
				// main_co.onclick = main_co.ontouchstart;
				main_co.style.transform = "translateX(-" + el.offsetWidth + "px)";
			}
		}
		else{
			el.setAttribute('data-state', '0');
			if(MENU_TYPE == 'push'){
				main_co.ontouchstart = undefined;
				// main_co.onclick = undefined;
				main_co.style.transform = "";
			}
		}
	}
</script>