<div>
	<form method="{{get:}}" action="{{action:/pages/search.html}}" class="
		tw-hidden lg:tw-flex
		bg-color-white bg-color-opacity-20
		tw-rounded-xl tw-items-center tw-space-x-1 tw-overflow-hidden tw-px-4">
		@[--icon:
			<br class="tw-w-4 tw-h-4" c-file="assets/icons/search.svg"/>
		--]
		<input value="{{value:}}" class="tw-flex-1 outline-none tw-outline-none bg-transparent tw-px-2 tw-py-3 ff-jost tw-text-sm tw-placeholder-black tw-placeholder-opacity-40" type="" name="{{name:search}}" placeholder="{{holder:Search...}}">
	</form>
	<form method="{{get:}}" action="{{action:/pages/search.html}}" class="lg:tw-hidden tw-relative zi-1">
		<br class="tw-w-6 tw-h-6 tw-cursor-pointer" c-file="assets/icons/search.svg" data-bs-toggle="collapse" data-bs-target="#collapse_e823u" />
		<!-- <button class="tw-flex tw-items-center tw-justify-center tw-p-2 tw-w-8 tw-h-8 bg-color-white bg-color-opacity-60 tw-rounded-full">
			<br class="tw-w-full tw-h-full" c-file="assets/icons/search.svg"/>
		</button> -->
		<div class="search-2e8eh collapse tw-absolute -tw-bottom-full tw-right-0" style="transform: translateY(50%);" id="collapse_e823u">
			<div class="
				tw-flex
				bg-color-white
				tw-rounded-xl tw-items-center tw-space-x-1 tw-overflow-hidden tw-px-4">
				@[--icon:
					<br class="tw-w-4 tw-h-4" c-file="assets/icons/search.svg"/>
				--]
				<input value="{{value:}}" class="tw-flex-1 outline-none tw-outline-none bg-transparent tw-px-2 tw-py-3 ff-jost tw-text-sm tw-placeholder-black tw-placeholder-opacity-40" type="" name="{{name:search}}" placeholder="{{holder:Search...}}">
			</div>
		</div>
	</form>
</div>
<style type="text/css">
	.search-2e8eh{
		opacity: 0;
		transition: opacity .5s;
	}
	.search-2e8eh.show{
		opacity: 1;
	}
</style>
