
<footer class="text-white suitcase-bg-color-dark-25">
	<div class="container-fluid pt-5 pb-5">
		
		<div class="row">
			<div class="col-2">
				<h1 class="font-weight-bold j mt-5 pt-2 ">SUIT</h1>
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4"> <a href="">CONTACT</a></h4><hr class="k">
				<p>PRODUVTION</p>
				<P><a href="/pages/contact.html">SEND</a></P>
				<P><a href="/pages/contact.html">SEND MAIL</a></P>
				<P><a href="/pages/contact.html">LOCALISATION</a></P>
				
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4"><a href="">CATALOGUE</a></h4><hr class="k">
				<p><a href="/pages/catalogue.html"></a>OFFER </p>
				<p> <a href="/pages/catalogue.html"></a>PUT IN CART</p>
				<p> <a href="/pages/catalogue.html"></a>BROWSE</p>
				
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4"><a href="">ABOUT </a> </h4><hr class="k">
				<p><a href="/pages/apropos__2.html"></a>SEE THE DESIGNERS</p>
				<p> <a href="/pages/apropos__2.html"></a>DISCONNECTION</p>
				<p> <a href="/pages/apropos__2.html"></a>WE ARE</p>
				
			</div>
			
			
		</div>
	</div>
</footer>
<style type="text/css">
hr.k{
	background-color: #fff;
	height: 2px;
	width: 50%;
	margin-left: 0;
	font-weight: bold;
}
h1.j{
	writing-mode: vertical-rl;
	font-size: 55px;
	transition: rotate(180deg);
}
img.f{
	max-width: 98px;
	max-height: 110px;
	margin-left: -65px;
}
</style>