
<footer class="text-white suitcase-bg-color-dark-25">
	<div class="container-fluid pt-5 pb-5">
		<div class="row">
			<div class="col-2">
				<h1 class="font-weight-bold j mt-5 pt-2 ">SUIT</h1>
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4">GIFT BAGS</h4><hr class="k">
				<p>PRODUVTION</p>
				<p>VENTE</p>
				<p>SING UP FOR MAIL</p>
				<p>BOOK A MEMBER</p>
				<p>shop </p>
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4">GET HELP</h4><hr class="k">
				<p>RETURNS</p>
				<p>SHOPING</p>
				<p>contact</p>
				<p>BOOK A MEMBER</p>
				<p>SHOP</p>
			</div>
			<div class="col-3">
				<h4 class="font-wheight-bold mb-4">ABOUT </h4><hr class="k">
				<p>NEWS</p>
				<p>CARIERE</p>
				<p> SING UP MAIL</p>
				<p>BOOK A MEMBER</p>
				<p>MORE</p>
			</div>
			<div class="col-1  ">
				<div class="col-"><img class="f" src="/assets/img/icon/icons8_facebook.ico" alt=""></div>
				<div class="col"><img class="f" src="/assets/img/icon/icons8_instagram.ico" alt=""></div>
				<div class="col"><img class="f" src="/assets/img/icon/icons8_twitter.ico" alt=""></div>
			</div>
			<div class="row">
			</div>
		</div>
	</div>
</footer>
<style type="text/css">
hr.k{
	background-color: #fff;
	height: 2px;
	width: 50%;
	margin-left: 0;
	font-weight: bold;
}
h1.j{
	writing-mode: vertical-rl;
	font-size: 70px;
	transition: rotate(180deg);
}
img.f{
	max-width: 98px;
	max-height: 110px;
	margin-left: -65px;
}
</style>