<div class="container mt-3">
  <div class="d-flex " style="display:flex; justify-content: space-between;" >
    <p class="h3 fw-bold">{{great__title:}}</p>
      <p class="fw-bold">{{great__description:}}</p>
  </div>
   
    <form action="">
      <div class="mb-3 mt-3">
        <label for="comment" class="my-2 fw-bold">{{title__1:}}</label>
        <textarea class="form-control" rows="5"  name="text" style="outline-color: black;"></textarea>
      </div>
      <div>
        @[--buttons__3--]
      </div>
    
    </form>
  </div>